<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Soulsdle</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
<div class="background-photo">
  <h1 style="color: #cacaca; text-align: center; font-size: 50px">Soulsdle</h1>
  <div class="main-border">
    <h1>Classic Mode!</h1>

    <form th:action="@{/}" method="post">
      <button class="home-button" type="submit">Home</button>
    </form>
  </div>



</div>
</body>
</html>